@charset "gb2312";
body,textarea,input,select,option {font-size:120%;color:#333;font-family: Verdana,"Microsoft YaHei", "SimHei", "SimSun";background-color: #efefef;}

h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-size: 130%;
}
body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
	margin: 0;
}
ol, ul, li, textarea, input, select, option, th, td {
	padding: 0;
}
table {
	border-collapse: collapse;
}
ol, ul {
	list-style-type: none;
}
.clears:before, .clears:after {
	content: '';
	display: table;
}
.clears:after {
	clear: both;
}
.clears {
	*zoom: 1;
}
.clear {
	clear: both;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: #333;
}
a, textarea, input {
	outline: none
}
textarea {
	overflow: auto;
	resize: none;
}
.img img {
	display: block;
}
a img {
	border: none;
}
.z_index {
	position: fixed;
	_position: absolute;
	z-index: 999;
	display: none;
}
label, label input {
	vertical-align: middle
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
img{
	max-width: 100%;
}
a:hover {
	text-decoration: none
}
body {
	word-break: break-all;
	word-wrap: break-word;
	cursor: default;
}
input[type="submit"], input[type="reset"], input[type="button"], button {
	-webkit-appearance: none;
}
input[type="checkbox"], input[type="text"], input[type="submit"] {
	-webkit-border-radius: 0;
	border-radius: 0;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
	-webkit-text-size-adjust: none;
}
.box {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	box-pack: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	box-align: center;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 120%;
}

.s_nav section{background-color: #e2e2e2;
background-image: -moz-linear-gradient(top, #eeeeee, #e2e2e2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#e2e2e2));
background-image: -webkit-linear-gradient(top, #eeeeee, #e2e2e2);
background-image: -o-linear-gradient(top, #eeeeee, #e2e2e2);
background-image: linear-gradient(to bottom, #eeeeee, #e2e2e2);
background-repeat: repeat-x;
text-shadow: 0 1px 0 rgba(255,255,255,0.6);
border-bottom: 1px solid #c1c1c1;color:#666;display:-webkit-box;width:100%;-webkit-box-align:center;}
.s_nav a{display:inline-block;height:37px;line-height:37px;padding:0 3px;text-align:center;}
.s_nav div:nth-of-type(1){-webkit-box-flex:1;}
.s_nav span:nth-of-type(2){height:35px;display:-webkit-box;-webkit-box-align:center;box-shadow:-1px 0px 0px #D8D8D8,-2px 0px 0px #E6E6E6,-3px 0px 0px #F1F1F1,-4px 0px 0px #F9F9F9;position:absolute;right:0px;top:3px;}
.aactive{border-bottom:3px solid #3A78B3;color:#5bb923;}
.s_nav i{display:block;width:5px;height:5px;border-top:1px solid #B4B6B2;border-right:1px solid #B5B7B3;-webkit-transform:rotate(45deg);margin-right:5px;}
.s_nav span:nth-of-type(1){height:35px;display:-webkit-box;-webkit-box-align:center;box-shadow:1px 0px 0px #D8D8D8,2px 0px 0px #E6E6E6,3px 0px 0px #F1F1F1,4px 0px 0px #F9F9F9;left:0px;top:3px;position:absolute;}
.s_nav span:nth-of-type(1) i{-webkit-transform:rotate(-135deg);margin:0 0 0 5px;}
.s_nav span.active{display:none;}
#nav {line-height:39px;width:100%;}
#nav li{color:#000;font-size:130%;width:25%;  float:left; text-align:center;}
#nav li a{ color:#000;font-size:100%;}
#nav li a:hover{ color:#f20;font-size:100%; border-bottom:#C00 2px solid}
/*幻灯片*/
.roll div{position:relative;width:300px;margin:0 auto;}
.roll{position:relative;display:table-cell;}
.roll span{height:30px;line-height:30px;width:290px;text-align:left;padding-left:10px;margin:0 auto;background-color:rgba(0,0,0,0.5);font-size:16px;color:#fff;font-family:"黑体";display:block;z-index:1;position:absolute;bottom:10px;}
.s_hdp{width:100%;background-color:#fff;}
.s_box{padding:10px 0 0 0;overflow:hidden;width:93.75%;height:194px;text-align:center;font-weight: 300;font-size: 20px;line-height: 36px;position:relative;background-color:#FFF;margin:0 3.125%;}
.roll{ height:194px; cursor:pointer; float:left; width:100%; overflow:hidden;}
.mid01_box{background:#FFF; width:100%; top:0; float:left; height:194px;}
.page{height:18px;line-height:18px;text-align:center;}
.page li{display:inline-block;}
.page a{display:inline-block;width:8px;height:3px;background-color: #C6C6C6;}
.page .active{background-color: #3A78B3;}

.s_hdp .s_hdp-t{
	color: #006fe2;
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:150%;
	line-height:300%;
	font-weight: bold;
	text-align: center;
	margin-top:10px;
}
.s_hdp .s_hdp-st{
	color: #999;
	display:block;
	text-align: center;
	line-height: 28px;
}

.s_moreread dl{overflow:hidden;padding:5px 0;color:#999;font-size:110%;border-bottom:1px dashed #DFDFDF;}
.s_moreread dt{float:left;margin-right:10px;}
.s_moreread dd h3{font-size:1.5em;color:#333;padding-bottom:7px;text-align: left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.s_moreread dd {overflow:hidden;text-align:left;font-size:140%; color:#555;}
.s_moreread dd:nth-of-type(2){text-align: left;padding-bottom:6px;color: #999;}
.s_moreread dd:nth-of-type(3){color: #999;}
.s_moreread dd span{padding-right:10px;}
.s_moreread div a:nth-last-of-type(1){margin:0;}
.s_moreread dl:last-child{border:0 none;}

.s_moreread{margin: 0px ; background:#FFF;}
.s_moreread .list_box{padding:10px;}
.s_moreread .list_box .item{display:block;padding: 8px 0;font-size: 140%;position: relative;border-bottom:1px dashed #DFDFDF;}
.s_moreread .list_box .item:last-child{border-bottom:none;}
.s_moreread .module-t{line-height: 28px;background-color: #e8e8e8;position: relative;}
.s_moreread .module-t h3{color: #006fe2;background-color:#006fe2;width: 80px;text-align: center;margin-left:5px;}
.s_moreread .module-t h3{color:#fff;font-size: 115%;font-weight: normal;}
.s_moreread .module-t span.more{position: absolute;right: 10px;top: 0;color: #999;}

.s_moreread .module-t2{line-height: 28px;background-color:#f7eddf;position: relative;}
.s_moreread .module-t2 h3{color: #006fe2;background-color: #4a2920;width: 80px;text-align: center;margin-left:5px;}
.s_moreread .module-t2 h3{color:#fff;font-size: 115%;font-weight: normal;}
.s_moreread .module-t2 span.more{position: absolute;right: 10px;top: 0;color: #999;}

.module{ padding:10px; background:#FFF; border:#e6e6e6 1px solid
	
}
.module .topic{position: relative;}
.module .topic .cont-list {border-bottom: 1px dotted #D9D9D9;margin: 0 12px 0px;line-height:40px;position: relative;}
.module .topic .cont-list a{font-size: 125%;}
.module .topic .live-icon {background-color: #006fe2;color: white;display:inline-block;width: 80px;display: inline-block;text-align: center;line-height: 20px;margin-right: 10px;position: relative;}
.module .topic .live-icon::after {background: url(/media/images/index/arrow.png);background-size: 8px 20px;height: 20px;right: -8px;width: 8px;position: absolute;content: "";}


.module .topic2{position: relative;}
.module .topic2 .cont-list {border-bottom: 1px dotted #D9D9D9;margin: 0 12px 0px;line-height:40px;position: relative;}
.module .topic2 .cont-list a{font-size: 125%;}
.module .topic2 .live-icon {background-color: #bb561a;color: white;display:inline-block;width: 80px;display: inline-block;text-align: center;line-height: 20px;margin-right: 10px;position: relative;}
.module .topic2 .live-icon::after {background: url(/media/images/index/arrow.png);background-size: 8px 20px;height: 20px;right: -8px;width: 8px;position: absolute;content: "";}

.load_more{height: 30px;font-size: 14px;text-align: center;border-top: 1px solid #DFDFDF;line-height: 30px;   color: #666;}
.logobg,.logolist i{background:url(img/menu_s_bg.png) no-repeat;-webkit-background-size:54px 200px;background-size:54px 200px;}
.logo{position:fixed;left:15px;bottom:10px;cursor:pointer;z-index:99999;}
.logo i{display:inline-block;width:55px;height:55px;background-position: 0 -148px;}

.bg{background:url(/media/images/s_floor.png) no-repeat;-webkit-background-size:90px 63px;background-size:90px 63px;vertical-align:middle;}

.s_header{height:55px;background: -webkit-linear-gradient(top, rgba(8, 150, 252, 1), rgba(7, 126, 221, 1));
background: -moz-linear-gradient(top, rgba(8, 150, 252, 1), rgba(7, 126, 221, 1));}
.s_header nav{left:0px;top:0px;line-height: 48px;background-color: #006fe2;width:100%;z-index:5;}
.s_header i{float:right;display:inline-block;width:25px;height:18px;background-position: -20px 0;margin:6px 24px 0 0;}
.s_header #more{float:right;display:inline-block;color: white;line-height: 27px;padding: 0 10px;border: 1px solid #0C3F76;background-color: #3A78B3;margin-right: 10px;}
.s_floor h2{font-size:18px;color:#333;padding:15px 0 5px 0;}
.s_header .s_b {float: right;display: inline-block;width: 26px;height: 23px;margin-right: 17px;margin-top: 5px;background-position:-27px -24px;}
.s_toplist{background-color:rgba(000,000,000,0.8);position:fixed;right:9px;top:46px;z-index:99999;display:-webkit-box;}
.s_toplist div{-webkit-box-flex:1;margin:11px 0;}
.s_toplist div:nth-of-type(1){border-right:1px solid #4B4B4B;}
.s_toplist div a:nth-of-type(1){height:1.3rem;line-height:1.3rem;padding:4px 0 12px 0;}
.s_toplist div a:nth-last-of-type(1){height:1.3rem;line-height:1.3rem;padding:12px 0 4px 0;}
.s_toplist span{width:0px;height:0px;border:7px solid #333333;border-color:transparent transparent #333333 transparent;position:absolute;top:-14px;right:17px;}
.s_toplist div:nth-of-type(2){border-left:1px solid #000;}
.s_toplist a{display:block;height:39px;line-height:39px;color:#FFF;width:84px;text-align:center;font-size:14px;}

.s_header i#more {background:url(/media/images/s_floor.png) no-repeat -20px 0;background-size:90px 63px;
background-color: none;border: none;width: 24px;height:20px;margin-right: 20px;padding: 0;
}
.s_header .bg{float:left}
.s_header nav{text-align: center;color: white;font-size:180%;}
.s_header .navtitle{position: absolute;width: 100%;line-height: 29px;text-align: center;color: white;}
.s_header nav span{
	position: relative;
	margin-left:10px;
}
.s_header nav .navt::before{
	background: url(/media/images/index/homebtn.png);
	background-size: 36px 36px;
height: 36px;
left: -30px;
width: 36px;
position: absolute;
top: 2px;
content: "";
}


.fmappbanner {
	position: relative;
}
.fmappbanner .close{
	color:#333;
	position: absolute;
	right:2px;
	top:0;
	font-size:130%;
	width:20px;
	height:20px;
}

.footer { height:60px; background:#dbe1e8; box-shadow : inset 0 -5px 5px #c4ccd6;}
.footer a { display:block; float:left; width:25%; height:60px; line-height:60px; font-size:1.5em; text-shadow:2px 2px 2px #fff; color:#707981; text-align:center;}
.footer a.back_top { float:right; background:#3d4145; border-left:2px solid #fff; color:#fff; text-shadow: none; line-height:100%; }
.footer a.back_top span { 
	display:block; width:0; height:0; overflow:hidden; margin:15px auto 0;
	border-right:5px solid #fff; 
	border-top:5px solid #fff;  
	border-left:5px solid #3d4145;  
	border-bottom:5px solid #3d4145; 
	-webkit-transform: rotateZ(-45deg);
}

#favtip{
	height: 85px;
	width: 210px;
	background-size: 210px 85px;
	background-image: url(/media/images/index/wwwfloat.png);
	left: 55px;
	z-index: 100;
	position: fixed;
	bottom: 0;
}
#closetip{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0;
	top: 0;
}


.gotop {
	background: #000;
	opacity: 0.7;
	position: fixed;
	right: 8px;
	width: 16px;
	height: 16px;
	padding: 10px;
	z-index: 9999;
	bottom: 10px;
	border-radius: 5px;
}
.s_header nav span.qq {
position: absolute;
left: 5px;
}
.qq-bro, .uc-bro, .konka-bro{
display: block;
color: #AAA;
position: absolute;
right: 10px;
top: 0;
line-height: 41px;
font-size: 90%;
}
.qq-bro:before, .uc-bro:before, .konka-bro:before{
background-image: url(/media/images/index/qqbro.png);
position: absolute;
left: -24px;
top: 10px;
width: 20px;
height: 20px;
content: "";
background-size: 20px 20px;
}
.uc-bro:before{
	background-image: url(/media/images/index/ucpro.png);
}
.konka-bro:before{
	background-image: url(/media/images/index/konkapro.png);
}

.list_box ul {
	width:310px;
	margin:0 auto;
}
.list_box ul li {
	float:left;
	position: relative;
	margin-bottom: 10px;
}
.list_box ul li:nth-of-type(1),.list_box ul li:nth-of-type(3) {
	margin-right:5px;
}
.list_box ul li span {
	position: absolute;
	bottom:3px;
	width:100%;
	text-align: center;
	line-height: 30px;
	background-color: rgba(0,0,0,.5);
	color:white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tuijian .topic .cont-list {
	border:1px dashed #d9d9d9;
	margin: 0 5px 5px;
	line-height: 36px;
}
.tuijian .topic .live-icon {
	margin-left: 5px;
}
.s_header nav iframe {
	position: absolute;
top: 7px;
}
.s_header nav .userspan{
	position: absolute;
	right:10px;
	line-height: 49px;
	font-size: 80%;
	color:white;
}
.s_header nav .userspan a {
	color:white; margin-right:5px;
}
.s_header nav .userspan:before{
	background: url(/media/images/index/userbtn.png);
	background-size: 32px 32px;
	height: 36px;
	left: -28px;
	width: 32px;
	position: absolute;
	top: 3px;
	content: "";
}

#content{position:relative;bottom:0;overflow:hidden;margin:1px;}
#reader-list{margin-left:10px;}
#reader-list a{display:inline-block;margin-right:20px;padding:2px 0 2px 20px;background:transparent url(../preview/s.png) no-repeat scroll left center;}
#reader-list a.third-party-feedly{background-image:url(../images/preview/icon.3rd.party.feedly.png);}
#reader-list a.third-party-bloglines{background-image:url(../images/preview/icon.3rd.party.bloglines.png);}
#reader-list a.third-party-xianguo{background-image:url(../images/preview/icon.3rd.party.xianguo.png);}
#reader-list a.third-party-zhuaxia{background-image:url(../images/preview/icon.3rd.party.zhuaxia.png);}
#reader-list a.third-party-youdao{background-image:url(../images/preview/icon.3rd.party.youdao.png);}
#entry-list{position:relative;top:0;left:0;right:0;bottom:0;display:none;overflow:hidden;overflow-y:auto;}
#entry-list>dl{margin:10px;padding:5px;background:#FFF;border:1px #CCC solid;}
#entry-list>dl:hover{border-color:#d5995e;}
h3 span{ float:right;}
#entry-list>dl>.title,#entry-list>dl>.updated,#entry-list>dl>.description{padding-left:28px;word-break:break-word;-webkit-user-select:text;}
#entry-list>dl>.title{font-size:11pt;margin:5px 0;background:transparent url(../img/icon1.png) no-repeat 4px 50%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#entry-list>dl>.title>a{text-decoration:none;}
#entry-list>dl>.title>a:hover{text-decoration:underline;}
#entry-list>dl>.updated{font-weight:normal;margin:5px 0;}
#entry-list>dl>.updated{color:#666;}
#entry-list>dl>.description{margin:10px 5px 10px 0;max-width:95%;line-height:1.8;font-size:110%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; color:#777;}
#entry-list>dl>.link a{background:transparent url(../img/icon1.png) no-repeat 4px 50%;}
#entry-list>dl>.description img{margin:8px;max-width:100%;border:0;}
#entry-list>dl>.description a{color:#069;}
#entry-list>dl>.actions{padding:5px 5px 5px 34px;background:#F5F5F5 url(../img/icon2.png) no-repeat 4px 50%;}
#entry-list>dl>.actions a{ font-size:130%;}
#entry-list>dl>.actions span{ margin-left:13px;}
#entry-list>dl>.actions>a:not(:hover){color:#666;}
#entry-list>dl>.actions .goto-top{float:right; color:#888;}
#entry-list>dl>.actions2{padding:5px 34px;background:#F5F5F5;}
#entry-list>dl>.actions2 a{ font-size:130%;}
#entry-list>dl>.actions2 span{ margin-left:25px;}
#entry-list>dl>.actions2>a:not(:hover){color:#666;}
#entry-list>dl>.actions2 .goto-top{float:right; color:#888}

#entry-list .error-message{color:#900;}
#loading,#error-content{margin:20px;color:#999;}
#error-content{display:none;}
.raw-xml{padding:10px;font-family:consolas,monospace;-webkit-user-select:text;}
.raw-xml pre{white-space:pre-wrap;}
#entry-list{display:none;}
.invalid-feed .xml-description{display:block;}
.invalid-feed .reader-list-container{display:none;}
.invalid-feed #entry-list{background:#FFF;}
.is-feed nav button{display:inline-block;}





/* 滑动门通用样式*/

.tabbed_content{background-color:none;}
.tabs{width:100%;height:45px;line-height:45px;position:relative;background:#F3F3F3;border-bottom:solid 1px #CCC;overflow:hidden;}
.tabs h2{padding-left:10px;float:left;}
.tabs .moving_bg{width:33.3%;height:43px;border-bottom:solid 4px #006fe2;color:#ffffff;
position:absolute;z-index:190;left:0;font-weight:bold;overflow:hidden; font-size:150%;}
.tabs .tab_item{display:block;float:left;width:33%;text-align:center;z-index:200;position:relative;cursor:pointer;color:#000;font-weight:bold;overflow:hidden;}
.tabbed_content .slide_content {overflow: hidden;background-color: #fff;position: relative;width: 100%;}
.tabslider {width: 300%;}
.tabslider ul {float: left;width: 33.3%;margin: 0px;padding: 0px; height:auto;}
.s_moreread .cat-t{line-height: 28px;background-color: #e8e8e8;position: relative; margin:10px auto;}
.s_moreread .cat-t h3{color: #006fe2;background-color:#006fe2;width: 80px;text-align: center;margin-left:5px;}
.s_moreread .cat-t h3 a{color: #fff;}
.s_moreread .cat-t h3{color:#fff;font-size: 115%;font-weight: normal;}
.s_moreread .cat-t span.more{position: absolute;right: 10px;top: 0;color: #999;}
.cat_s_box{background:#fff; padding:10px;}
.cat_s_box a{color:#505050;margin:0 6px; font-size:110%;}
.cat_s_box .live-icon {
background-color: #006fe2;
color: white;
display: inline-block;
width: 40px;
display: inline-block;
text-align: center;
line-height: 20px;
margin-right: 10px;
position: relative;
}


.s_head .cat-t{line-height: 28px;background-color: #e8e8e8;position: relative; margin:10px auto;}
.s_head .cat-t h3{color: #fff;background-color:#f50;text-align: center;margin-left:5px; font-size:130%; padding:12px 0; }
.s_head .cat-t h3 a{color: #fff;}
.s_head .cat-t h3{color:#fff;font-size: 130%;font-weight: bold;}


.cat_s_box2{background:#fff; padding:10px; border-bottom:#f1f1f1 1px solid;}
.cat_s_box2 a{color:#505050;margin:7px; font-size:120%; padding:2px 4px;}
.cat_s_box2 a:hover{ background:#036; color:#fff;font-size:120%;}
.cat_s_box2 .live-icon {
background-color: #006fe2;
color: white;
display: inline-block;
padding:5px 12px;
text-align: center;
line-height: 20px;
margin-right: 10px;
position: relative;font-size:120%;
}
.pages a{ background-color: #006fe2;color: white;
display: inline-block;
text-align: center;
line-height: 20px; padding:0 5px;
margin-right: 5px;
position: relative;}
.con_con img{ float:left; width:45%; margin: 8px;}
.thumb_com{ width:90px; height:70px;}
.thumb_com img{ width:80px; height:60px;}
.com_nav{ background:url(../img/com_nav.jpg) repeat-x; height:110px;}
.com_hd{ font-size:170%; color:#fff;}

.s_header2{height:35px;background-color: #006fe2;
background-image: -moz-linear-gradient(top, #52b2cf, #006fe2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52b2cf), to(#006fe2));
background-image: -webkit-linear-gradient(top, #52b2cf, #006fe2);
background-image: -o-linear-gradient(top, #52b2cf, #006fe2);
background-image: linear-gradient(to bottom, #52b2cf, #006fe2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52b2cf', endColorstr='#ff006fe2', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
border-color: #64cceb #64cceb #184552 #006fe2;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;}
.s_header2 nav{left:0px;top:0px;line-height: 30px;background-color: #006fe2;width:100%;z-index:5;}
.s_header2 i{float:right;display:inline-block;width:20px;height:18px;background-position: -20px 0;margin:6px 14px 0 0;}
.s_header2 #more{float:right;display:inline-block;color: white;line-height: 20px;padding: 0 10px;border: 1px solid #0C3F76;background-color: #3A78B3;margin-right: 10px;}
.com_daohang{ background:#222; height:20px; line-height:20px; font-size:80%; padding:4px 10px; color:#fff;}
.com_daohang a{ color:#fff;}
.com_daohang span{ color:#fff; float:right;}


/* Common styles of menus */

.dl-menuwrapper {
	width: 100%;
	max-width: 250px;
	float: right;
	position: absolute;
	top:0;
	right:0;
	padding-top: 50px;
	z-index: 999;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	-moz-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
	margin-right: 100px;
}

.dl-menuwrapper button {
	/*background: url(../img/header-bg.png) repeat-x bottom left;*/
	border: none;
	width: 55px;
	height: 55px;
	text-indent: -900em;
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	outline: none;
	background: #006fe2 url(../img/menu-button-bg.png) no-repeat center center;
	background-size: 50%;
}

.dl-menuwrapper button:hover ,
.dl-menuwrapper button.dl-active {
	/*background: url(../img/header-bg.png) repeat-x bottom left;*/
	background-color: #0067d2;
}

.dl-menuwrapper ul {
	background: #0067d2;
}

/*
.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	background: #fff;
	top: 12px;
	left: 22%;
	box-shadow: 
		0 10px 0 #fff, 
		0 20px 0 #fff;
}
*/

.dl-menuwrapper ul {
	padding: 0;
	list-style: none;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;
	border-top: 1px solid #0576ec;
	border-bottom:1px solid #0053aa;
	outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
	padding-left: 30px;
	background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 50px;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: rgba(255,255,255,0.8);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: rgba(255,255,255,0.8);
}

.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
	display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut1 0.4s;
	-moz-animation: MenuAnimOut1 0.4s;
	animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
	-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
	-moz-animation: MenuAnimOut2 0.3s ease-in-out;
	animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
	-webkit-animation: MenuAnimOut3 0.4s ease;
	-moz-animation: MenuAnimOut3 0.4s ease;
	animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
	-webkit-animation: MenuAnimOut4 0.4s ease;
	-moz-animation: MenuAnimOut4 0.4s ease;
	animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
	-webkit-animation: MenuAnimOut5 0.4s ease;
	-moz-animation: MenuAnimOut5 0.4s ease;
	animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut5 {
	100% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut1 {
	50% {
		-moz-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-moz-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-moz-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut2 {
	100% {
		-moz-transform: translateX(-100%);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut3 {
	100% {
		-moz-transform: translateZ(300px);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut4 {
	100% {
		-moz-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut5 {
	100% {
		-moz-transform: translateY(40%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut2 {
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut3 {
	100% {
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut4 {
	100% {
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut5 {
	100% {
		transform: translateY(40%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn1 0.3s;
	-moz-animation: MenuAnimIn1 0.3s;
	animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	-moz-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
	-webkit-animation: MenuAnimIn3 0.4s ease;
	-moz-animation: MenuAnimIn3 0.4s ease;
	animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
	-webkit-animation: MenuAnimIn4 0.4s ease;
	-moz-animation: MenuAnimIn4 0.4s ease;
	animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
	-webkit-animation: MenuAnimIn5 0.4s ease;
	-moz-animation: MenuAnimIn5 0.4s ease;
	animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn1 {
	0% {
		-moz-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-moz-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-moz-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn2 {
	0% {
		-moz-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn3 {
	0% {
		-moz-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn4 {
	0% {
		-moz-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn5 {
	0% {
		-moz-transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes MenuAnimIn2 {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn3 {
	0% {
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn4 {
	0% {
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn5 {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn1 0.4s ease;
	-moz-animation: SubMenuAnimIn1 0.4s ease;
	animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	-moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
	-webkit-animation: SubMenuAnimIn3 0.4s ease;
	-moz-animation: SubMenuAnimIn3 0.4s ease;
	animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
	-webkit-animation: SubMenuAnimIn4 0.4s ease;
	-moz-animation: SubMenuAnimIn4 0.4s ease;
	animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
	-webkit-animation: SubMenuAnimIn5 0.4s ease;
	-moz-animation: SubMenuAnimIn5 0.4s ease;
	animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn1 {
	0% {
		-moz-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn2 {
	0% {
		-moz-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn3 {
	0% {
		-moz-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn4 {
	0% {
		-moz-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn5 {
	0% {
		-moz-transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn1 {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn2 {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn3 {
	0% {
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn4 {
	0% {
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn5 {
	0% {
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut1 0.4s ease;
	-moz-animation: SubMenuAnimOut1 0.4s ease;
	animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	-moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
	-webkit-animation: SubMenuAnimOut3 0.4s ease;
	-moz-animation: SubMenuAnimOut3 0.4s ease;
	animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
	-webkit-animation: SubMenuAnimOut4 0.4s ease;
	-moz-animation: SubMenuAnimOut4 0.4s ease;
	animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
	-webkit-animation: SubMenuAnimOut5 0.4s ease;
	-moz-animation: SubMenuAnimOut5 0.4s ease;
	animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut1 {
	0% {
		-moz-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-moz-transform: translateX(50%);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut2 {
	0% {
		-moz-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-moz-transform: translateX(100%);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut3 {
	0% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-moz-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut4 {
	0% {
		-moz-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-moz-transform: translateZ(300px);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut5 {
	0% {
		-moz-transform: translateZ(0);
		opacity: 1;

	}
	100% {
		-moz-transform: translateZ(-200px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut1 {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut2 {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut3 {
	0% {
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut4 {
	0% {
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut5 {
	0% {
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-200px);
		opacity: 0;
	}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}

.qiyeminglu{ display:block; text-align:center; padding:10px 0px; border-radius:4px; letter-spacing:1px; background-color:#eee; border:solid 2px #ddd; margin:10px auto;}
.categorylist{ border:solid 2px #ddd;  border-radius:4px;}
.categorySH,.categorySH2,.categoryGY,.categoryGY2{ border:solid 1px #ddd; overflow:hidden; }
.categorySH,.categorySH .bigCat{ height: auto; border-width:0px 1px 1px 0px; }
.categorySH2,.categorySH2 .bigCat{ height:auto; border-width:0px 1px 1px 0px;}
.categorySH,.categorySH2{ border-width:0px 0px 1px 0px;}
.categoryGY,.categoryGY .bigCat{ height:auto; border-width:0px 1px 0px 0px; }
.categoryGY2,.categoryGY2 .bigCat{ border-width:0px 1px 0px 0px; }
.categoryGY2 .bigCat{ height:auto;}
.categoryGY,.categoryGY2{ border-width:0px;}
.categorylist .bigCat{ float:left; padding-top:20px; line-height:70px; width:40px; display:block; border:solid 1px #ddd; border-width:0px 1px 0px 0px; text-align:center; font-size:16px;  }
.categorylist .bigCat span{ display:inline-block; line-height:20px; margin:0px 8px;}

.ShList,.GyList{ display:block; overflow:hidden; text-align:center; padding-top:8px;}
.ShList li,.GyList li{ display:inline-block; }
.ShList li a,.GyList li a{ color:#555; display:inline-block; padding:10px 1px;}
.ShList .pr_2,.GyList .pr_2{ width:47%;}
.ShList .pr_3,.GyList .pr_3{ width:29%; text-align:center;}
.categoryGY .GyList .pr_4{ width:22%; text-align:center; }
