<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>" />
<title>管理首页</title>
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<? include tpl('here'); ?>
<table width=96% border=0 align=center cellpadding=0 cellspacing=1 >
  <tr>
    <td>
	<?if($install){?><li style="border: 1px solid #CC0000; padding: 5px; margin-bottom: 5px; margin-top: 5px;">install目录没有删除，为了安全起见，请删除install目录。</li><?}?>
	</td>
  </tr>
  <tr>
    <td>
	
	</td>
  </tr>
</table>

<table width=96% border=0 align=center cellpadding=0 cellspacing=1 class=tableborder>
  <tr class="header"> 
    <td height="30">&nbsp;&nbsp;系统信息 </td>
  </tr>

  <tr> 
    <td bgcolor="#FFFFFF">
	<table width="96%" border="0" cellpadding="3" cellspacing="1" bgcolor="#DBEAF5">
	<tr bgcolor="#FFFFFF">
	  <td width="50%" height="30">信息数量: <?=$info_num?> <a href="info.php">查看</a></td>
	  <td width="50%" height="30">投诉数量: <?=$report_num?> <a href="report.php">查看</a></td>
	</tr>
	<tr bgcolor="#FFFFFF">
	  <td height="30">会员数量: <?=$member_num?> <a href="member.php">查看</a></td>
	  <td height="30">评论数量: <?=$comment_num?> <a href="comment.php">查看</a></td>
	</tr>
	<tr bgcolor="#FFFFFF">
	  <td height="30">黄页数量: <?=$com_num?> <a href="com.php">查看</a></td>
	  <td height="30">文章数量: <?=$article_num?> <a href="article.php">查看</a></td>
	</tr>
	<tr bgcolor="#FFFFFF"> 
	  <td height="30">登陆者IP: <? echo $_SERVER['REMOTE_ADDR'];?></td>
	  <td height="30">当前时间: <? echo date("Y-m-d H: i: s");?></td>
	</tr>
	<tr bgcolor="#FFFFFF">
	  <td height="30">最后登陆IP: <?=$admin[lastip]?></td>
	  <td height="30">最后登陆时间: <?=$admin[lastlogin]?></td>
	</tr>

	</table>
	</td>
  </tr>

</table>
<br />
</body>
</html>