
<!DOCTYPE html><html><head><meta charset="gb2312"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><META Name="keywords" Content="">
<script src="http://www.lanrenmb.com/wap/424/Public/js/jquery.js" type="text/javascript"></script>
<link href="http://www.lanrenmb.com/wap/424/Public/css/component.css" rel="stylesheet" type="text/css" />
<script src="http://www.lanrenmb.com/wap/424/Public/js/modernizr.custom.js"></script>
<script src="http://www.lanrenmb.com/wap/424/Public/js/jquery.dlmenu.js"></script>
<div id="dl-menu" class="dl-menuwrapper">
<button id="dl-menu-button">Open Menu</button>
<ul class="dl-menu">
<li><a href="default.htm">首页</a></li>
<li><a href="Line/index@queryType=1">台湾游</a></li>
<li><a href="Line/index@queryType=2">出境游</a></li>
<li><a href="Line/index@queryType=3">国内游</a></li>
<li><a href="Line/index@queryType=4">周边游</a></li>
<li><a href="Line">自由行</a>
<ul class="dl-submenu">
<li class="dl-back"><a href="#">返回上一级</a></li>
<li><a href="Line/index@queryType=5">线路</a></li>
<li><a href="Line/index@queryType=6">签证</a></li>
<li><a href="Line/index@queryType=7">门票</a></li>
</ul>
</li></ul></div>
<script>
$(function() {
$( '#dl-menu' ).dlmenu();
});

</script><!-- 响应式菜单 结束 -->
</body></html>